blockquote {
  margin-left: 0;
}

/* dont target multiline code  */
p > code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 6px;
}

/* All post styles */

.post__content > p:last-child {
  margin: 0;
}

h3 a {
  color: #110526;
}